{{ $ := .root }}
{{ $page := .page }}

<!-- About widget -->
<div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <div class="col-xs-12 col-md-4">
    <div id="profile">

      {{ with $.Site.Params.avatar }}
      <div class="portrait" itemprop="image"
           style="background-image: url('{{ "/img/" | relURL }}{{ . }}');">
      </div>
      {{ end }}

      <div class="portrait-title">
        <h2 itemprop="name">{{ $.Site.Params.name }}</h2>
        <h3 itemprop="jobTitle">{{ $.Site.Params.role }}</h3>
        {{ if $.Site.Params.organization }}
        <h3 itemprop="worksFor">
          {{ with $.Site.Params.organization_url }}<a href="{{ . }}" target="_blank">{{ end }}
          {{ $.Site.Params.organization }}
          {{ if $.Site.Params.organization_url }}</a>{{ end }}
        </h3>
        {{ end }}
      </div>

      <ul class="social-icon" aria-hidden="true">
        {{ range $.Site.Params.social }}
        {{ $pack := or .icon_pack "fa" }}
        <li>
          <a href="{{ .link | safeURL }}" target="_blank">
            <i class="{{ $pack }} {{ $pack }}-{{ .icon }} big-icon"></i>
          </a>
        </li>
        {{ end }}
      </ul>

    </div>
  </div>

  <div class="col-xs-12 col-md-8" itemprop="description">

    {{ $page.Content }}

    <div class="row">
      <h3>Education</h3>
        <ul class="ul-edu fa-ul">
          <li>
            <i class="fa-li">
              <a href="https://www.cornell.edu/" target="_blank">
                <img src="/~ycui/img/cornell.gif" alt="Cornell Logo" style="width:40px;height:40px;margin:auto;">
              </a>
            </i>
            <div class="description">
              <p class="course">Ph.D. in Computer Science, Aug. 2014 - present</p>
              <p class="institution">Cornell University</p>
            </div>
          </li>
        </ul>
    </div>


    <div class="row">
      <h3>Education</h3>
      <div class="col-xs-6">
        <div class="description">
          <p style="text-align:left; font-size:16px">Ph.D. in Computer Science, Aug. 2014 - present</p>
        </div>
        <div class="imgContainer" style="float:left">
          <a href="https://www.cornell.edu/" target="_blank">
            <img src="/~ycui/img/cornell.gif" alt="Cornell Logo" style="width:90px;height:90px;margin:auto;">
          </a>
        </div>
    </div>


    <div class="row">
      <h3>Education</h3>
      <div class="col-xs-4">
        <div class="imgContainer" style="float:left">
          <a href="https://www.cornell.edu/" target="_blank">
            <img src="/~ycui/img/cornell.gif" alt="Cornell Logo" style="width:90px;height:90px;margin:auto;">
          </a>
        </div>
        <div class="imgContainer">
          <a href="https://tech.cornell.edu/" target="_blank">
            <img src="/~ycui/img/patent-map.png" alt="Cornell Tech Logo" style="width:90px;height:90px;margin:auto;">
          </a>
        </div>
        <p style="text-align:center; font-size:16px">Ph.D. in Computer Science<br/>Aug. 2014 - present</p>
      </div>
      <div class="col-xs-4">
        <div class="imgContainer">
          <a href="http://www.columbia.edu/" target="_blank">
            <img src="/~ycui/img/columbia.jpg" alt="Columbia Logo" style="width:90px;height:90px;margin:auto;">
          </a>
        </div>
        <p style="text-align:center; font-size:16px">M.S. in Electrical Engineering<br/>Aug. 2012 - Dec. 2013</p>
      </div>
      <div class="col-xs-4">
        <div class="imgContainer">
          <a href="http://www.buaa.edu.cn/" target="_blank">
            <img src="/~ycui/img/buaa.gif" alt="Beihang Logo" style="width:90px;height:90px;margin:auto;">
          </a>
        </div>
        <p style="text-align:center; font-size:16px">B.S. in Electrical Engineering<br/>Sep. 2008 - June 2012</p>
      </div>
    </div>

    <div class="row">
      <h3>Experiences</h3>
      <div class="col-xs-4">
        <div class="imgContainer" style="width:200px;height:80px;display:table-cell;vertical-align:middle">
          <a href="https://research.google.com/" target="_blank">
            <img src="/~ycui/img/google.png" alt="Google Logo">
          </a>
        </div>
        <p style="text-align:center; font-size:16px">Research Intern<br/>to be started in May 2017</p>
      </div>
      <div class="col-xs-4">
        <div class="imgContainer" style="width:200px;height:80px;display:table-cell;vertical-align:middle">
          <a href="http://research.baidu.com/" target="_blank">
            <img src="/~ycui/img/baidu.png" alt="Baidu Logo">
          </a>
        </div>
        <p style="text-align:center; font-size:16px">Research Intern<br/>May 2016 - Aug. 2016</p>
      </div>
      <div class="col-xs-4">
        <div class="imgContainer" style="width:200px;height:80px;display:table-cell;vertical-align:middle">
          <a href="http://www.nec-labs.com/" target="_blank">
            <img src="/~ycui/img/nec.jpg" alt="NEC Logo">
          </a>
        </div>
        <p style="text-align:center; font-size:16px">Research Intern<br/>May 2015 - Aug. 2015</p>
      </div>
    </div>
  </div>

</div>
