{{ $ := .root }}
{{ $page := .page }}
{{ $pubs_len := len (where $.Data.Pages "Type" "publication") }}

<!-- Publication widget -->
<div class="row">
  <div class="col-xs-12">
    <h1>{{ with $page.Title }}{{ . | markdownify }}{{ end }}</h1>
    {{ with $page.Params.subtitle }}<p>{{ . | markdownify }}</p>{{ end }}
    {{ if gt $pubs_len $page.Params.count }}
    <p class="view-all">
      <a href="{{ "/publication/" | relLangURL }}">
        {{ i18n "more_publications" | markdownify }}
        <i class="fa fa-angle-double-right"></i>
      </a>
    </p>
    {{ end }}

    <!--begin-->
    {{ with $page.Content }}<p>{{ . | markdownify }}</p>{{ end }}

    {{ if $page.Params.detailed_list }}
    {{ range first $page.Params.count (where $.Data.Pages "Type" "publication") }}
    {{ partial "publication_li_detailed" . }}
    {{ end }}
    {{ else }}

    {{ range first $page.Params.count (where $.Data.Pages "Type" "publication") }}
    {{ partial "publication_li_simple" . }}
    {{ end }}
    
    {{ end }}

  </div>
</div>
