<div class="pub-list-item" itemscope itemtype="http://schema.org/CreativeWork">
  <div class="panel panel-primary" style="vertical-align:middle; border-color:#5DADE2; border-width:1px; border-style:dashed">
  <div class="row" style="margin: 3px">

    {{ if .Params.image_preview }}
    <div class="col-xs-12 col-md-3">
      <a href="{{ .Permalink }}">
        <img src="{{ "/img/" | relURL }}{{ .Params.image_preview }}" class="pub-banner"
             itemprop="image">
      </a>
    </div>
    <div class="col-xs-12 col-md-9">

    {{ else if .Params.header.image}}
    <div class="col-xs-12 col-md-3">
      <a href="{{ .Permalink }}">
        <img src="{{ "/img/" | relURL }}{{ .Params.header.image }}" class="pub-banner" itemprop="image">
      </a>
    </div>
    <div class="col-xs-12 col-md-9">

    {{ else }}
    <div class="col-xs-12 col-md-3">
    </div>
    <div class="col-xs-12 col-md-9">

    {{ end }}

      <h3 class="article-title" itemprop="name">
        <a href="{{ .Permalink }}" itemprop="url">{{ .Title }}</a>
      </h3>

      <div class="pub-authors" itemprop="author">
        {{ with .Params.authors }}
        {{ delimit . ", " | markdownify }}
        {{ end }}
      </div>

      <div class="pub-publication">
        {{ if .Params.publication_short }}
        {{ .Params.publication_short | markdownify }}
        {{ else }}
        {{ .Params.publication | markdownify }}
        {{ end }}
      </div>

      <div class="pub-links">
        {{ partial "publication_links" (dict "content" . "is_list" 1) }}
      </div>

    </div>
  </div>
  </div>
</div>